


#recipesContainer{
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;


  background-color: #F5F5F5 ;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) ;
  border: 1px solid #E0E0E0;
  width: 600px;
  height: 400px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;

  
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 150px;
  height: 150px;
  padding: 10px;
  margin: 10px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  text-align: center;
  overflow: hidden;

}

.card:hover{
  background-color: grey;
}

.cardImage{
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
}

.card-body h5 {
  font-family: "Press Start 2P", sans-serif;
  font-size: 0.55rem;
  color: #333;
  line-height: 1.2;
  overflow-wrap: break-word;
  text-decoration: none;
  margin: 0;
  padding: 0 5px;
  max-height: 3.6em;
  overflow: hidden;
}


.fridge-area {
display: flex;
align-items: center;
justify-content: center;
gap: 10px;
margin-top: 30px; 
position: relative;
}

#shelf1, #shelf2 {
width: 290px;
height: 290px;
image-rendering: pixelated;
}
#fridge {
width: 700px;
height: 700px;
image-rendering: pixelated;
position: relative;
z-index: 10;
}

#fridge.open{
  z-index: 1;
}

.shelf1{
width: 290px;
height: 290px;
image-rendering: pixelated;
}

.food-sprite {
  cursor: grab;
  position: absolute; /* super duper important for dragging */
  width: 120px;
  height: 120px;
  z-index: 5;
}

.food-sprite:active {
  cursor: grabbing;
}

body {
background-image: url('./images/background.png');
background-repeat: repeat; 
background-size: contain;
image-rendering: pixelated;
}

.findRecipes{
font-family: 'Pre'
}

#egg{
width: 78px;
height: 100px;
}

#closeRecipes {
  position: absolute;
  top: 0px;
  right: 1px;
  width: 30px;
  height: 30px; 
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

#closeRecipes:hover {
  transform: scale(1.1);
}

#ingredientInput{
bottom: 10px;
width: 200px;
height: 30px;
text-align:center;
}

#findRecipes{
  position: absolute;
  top: 75px;
  right: 500px;
  width: 150px;
  height: 37px; 
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.input-container{
  top:25%;
  left:25%;
}